<!DOCTYPE html>
<html>
    <head>
        <title>
            Insyder Scope
        </title>
        <meta charset="utf-8">
        <meta name="viewport", content="width=device-width initial-scale=1.0">
        <meta name="description", content="">
        <meta name="author", content="">
    </head>
    <body>
        <nav>
            <div>
                <h1>Insyder</h1>
            </div>
            <div>
                <ul>
                    <li>
                        <a href="{{url_for('index_page')}}" >Home</a>
                    </li>

                    <li>
                        <a href="{{url_for('login_page')}}">Login</a>
                    </li>
                    <li>
                        <a href="{{url_for('register_page')}}">Register</a>
                    </li>
                    <li>
                        <a href="{{url_for('logout')}}">Logout</a>
                    </li>

                    <li>
                        <a href="">About</a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr>

    </body>
</html>